* {
    margin:0px;
    padding:0px;
    font-family: Arial;
    border:border-box;
}

.navbar {
    height:60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 113px;
}

.logo{
    background-image: url('amazon_logo.png');
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border {
    border: 1.5px solid transparent;
    border-radius: 3px;
}

.border:hover {
    border: 1.5px solid white
}

.add-first {
    color: #cccc;
    font-size: 0.88rem;
    margin-left: 15px;
}

.add-sec {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 3px;
}

.address-icon {
    display: flex;
    align-items: center

}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 3px;
}

.search-select {
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 50px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
    font-weight: 500;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #ffb700;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid #ffb700;
}

span {
    font-size: 0.7rem;
}

.signin-select {
    display: flex;
}
.nav-sec {
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #0f1111;
}

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size:0.85rem;
    font-weight: 700;
}

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

.panel-ops p{
    margin-left: 15px;
}

.panel-ops {
    display: flex;
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

.hero-section {
    background-image: url('hero_image.jpg');
    height: 380px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.hero-message {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;

}

.hero-message a {
    color: #007185;
}
.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.boxes {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: #007185;
}

